<div class="modal-dialog" role="document">
    <br><br>
    <div class="modal-content">
       
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login to LTI News</h5>
        </div>
        <div class="modal-body" >
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="user.username" #username="ngModel" required minlength="4" maxlength="35" >

                    <div class="form-control-feedback" *ngIf="username.errors && (username.dirty || username.touched)">
                    <p *ngIf="username.errors?.['required']" class="alert alert-danger">Username is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputPassword" >Password</label>
                    <input type="password" class="form-control" id="InputPassword" required minlength="6" maxlength="12" >
                </div>

                <input type="checkbox" id="remember" name="remember"> Remember me!
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['']">Close</button>
        </div>
    </div>
</div>