<div class="container-xl">
    
    <div class="row justify-content-center pb-4">
        <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
            <br><br><br><br><br>
            <span class="subheading">About us</span>
            <h2 class="mb-3">Our Top Reporters</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
            <div class="carousel-testimony">
                <div class="item">
                    <div class="testimony-wrap bg-light">

                        <div class="text">

                            <div class="d-flex align-items-center ">
                                <div class="user-img" style="background-image: url()"></div>
                                <img src='https://drive.google.com/file/d/0B8b9tOyLQEVTMDhQSWpLZG5Obmc/view?usp=sharing&resourcekey=0-qyiwbAbwKkn1zfGrfD01ZQ'>
                                <div class="ps-3 tx">
                                    <p class="name">Rahul Rawat</p>
                                    <p class="mb-4 msg text-muted achiever-feedback">With a career spanning two
                                        decades in the media industry, he stands tall with our channel since the
                                        channel's inception in 2004. His professional journey has been multifarious,
                                        he has covered several news-making events including consecutive Lok Sabha
                                        elections - 2009, 2014 and 2019. In his divergent reportage, he has
                                        delivered exclusive ground reports, including the 26/11 Mumbai terror
                                        attacks, and Kashmir floods. He currently anchors ‘Mann ki baat with Rahul’
                                        - a special debate show at 6 pm, every day.
                                        An engineer by profession, Rahul also dabbled in the world of theatre.
                                        However, he ultimately found his true calling in the world of journalism.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimony-wrap bg-light">

                        <div class="text">

                            <div class="d-flex align-items-center ">
                                <div class="user-img" style="background-image: url(images/A12.jpg)"></div>
                                <div class="ps-3 tx">
                                    <p class="name">Sakshi</p>
                                    <p class="mb-4 msg text-muted achiever-feedback">Sakshi, among the latest
                                        entrants in our channel, possesses a inquisitive and sarcastic approach
                                        towards news that matter. She started her career from Local Cable Network
                                        DIGI in the year 2010 Jodhpur and never looked back. She has been the face
                                        of news channels like India News , News Express and Focus News.
                                        While her education relates to Economics and History, she has a keen
                                        interest in areas of humanities and sports.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimony-wrap bg-light">

                        <div class="text">

                            <div class="d-flex align-items-center ">
                                <div class="user-img" style="background-image: url(images/A11.jpg)"></div>
                                <div class="ps-3 tx">
                                    <p class="name">Shivam</p>
                                    <p class="mb-4 msg text-muted achiever-feedback">He has seamlessly covered
                                        topics of national importance, politics, entertainment, sports and cultural
                                        diversity with utmost ease. Whether its live coverage of Earth quake in
                                        Nepal, Uttarakhand natural tragedy,Kumbh, terror turmoil of Mumbai, Anna
                                        Hazare Movement or flood situation in Bihar and Delhi, his live coverage has
                                        left viewers thinking. His interaction with Bollywood bigwigs and straight
                                        talks with political leaders and strategists are both exciting and inspiring
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimony-wrap bg-light">

                        <div class="text">

                            <div class="d-flex align-items-center ">
                                <div class="user-img" style="background-image: url(images/A1.jpg)"></div>
                                <div class="ps-3 tx">
                                    <p class="name">Shruti Yadav</p>
                                    <p class="mb-4 msg text-muted achiever-feedback">She worked with ETV as an
                                        anchor while nourishing the channel with best of her skills and did top of
                                        the priority and many prestigious projects with them, that to free of
                                        controversies and any negative speculations.
                                        After that she changed venue from Hyderabad to New Delhi and joined Janmat
                                        (Live India). She served the channel till got noticed by India TV.
                                        An ebullient n zealous anchor, she likes to take challenges in life. Till
                                        date she has accomplished many prime projects at ease.  Controversy free
                                        coverage and "passion to give what exactly it is" is her modus operandi for
                                        doing so well in her career.
                                        She wants to devote journalistic career for the cause of the people and her
                                        mission became easy since she joined India TV.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>