<div class="container-xl">

    <div class="row justify-content-center pb-4">
        <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
            <br><br><br><br><br>
            <span class="subheading">Contact Us </span>
            <h2 class="mb-3">Our Headoffice</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
            <div class="carousel-testimony">
                <div class="item">
                    <div style="text-align: center;" class="testimony-wrap bg-light">
                        <img
                            src="https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2021/07/16/154417-lt.jpg?itok=aifrYxdi&c=c5af8c0f92ccc8e249257bf0f1cb18e8">

                        <p style="text-align: center;">
                            L&T House,
                            Ballard Estate,
                            Mumbai
                            Maharashtra
                            400001 <br>
                            Email ID: investor@lntinfotech.com<br>
                            Web Url: http://www.lntnews.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>