<nav class="navbar  navbar-expand-lg fixed-top  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;LTI News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']" > Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['about-us']">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contact']">Contact Us</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" >Search:</a>
            </li>
            <li>
                <input type='text'  [(ngModel)]='listFilter'/>
                
            </li> -->
        </ul>
    </div>
    <div class="mx-2">
        <button class="btn btn-primary" [routerLink]="['login']" *ngIf="isShown" >Login</button>
        <button class="btn btn-primary" [routerLink]="['register']">Register</button>
    </div>
</nav>



<router-outlet></router-outlet>




<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
        <div class="row">

            <div class="col-3 col-lg-2  mb-3">
                <h5>Social Media</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Facebook</a></li>
                    <li class="mb-2"><a href="#">Instagram</a></li>
                    <li class="mb-2"><a href="#">Twitter</a></li>
                    <li class="mb-2"><a href="#">LinkedIn</a></li>
                </ul>
            </div>

            <div class="col-3 col-lg-2 mb-2">
                <h5>Policies</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Terms of Service</a></li>
                    <li class="mb-2"><a href="#">Return Policies</a></li>
                    <li class="mb-2"><a href="#">Privacy Policies</a></li>
                </ul>
            </div>
            <div class="col-3 col-lg-4 col-xs-8 mb-1">
                <h5>Address</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">122, Platinum plaza, Opp. mata mandir, Mumbai, 470003.</li>
                    <li class="mb-2">+91 9879677823</li>
                    <li class="mb-2">care@LTInews.com</li>
                </ul>
            </div>
            <div class="col-3 col-lg-3 mb-3">
                <ul>
                    <form class="form">
                        <label class="sr-only" for="FormInputName">
                            <h5>Email</h5>
                        </label>
                        <input type="email" class="form-control mb-3 mr-sm-3" id="FormInputName"
                            placeholder="Email for Newsletter">

                        <button type="submit" class="btn btn-info mb-2">Go</button>
                    </form>
                </ul>
            </div>
        </div>
        <div class="text-center"><b>&copy;& &reg; by LTI NEWS 2021</b></div>
    </div>
</footer>