<nav class="topnav-centered d" aria-label="...">
  <ul class="pagination justify-content-center">

    <li class="page-item "><a class="page-link" routerLinkActive="active" [routerLink]="['technews']">Technical News</a>
    </li>
    <li class="page-item">
      <a class="page-link" routerLinkActive="active" [routerLink]="['businessnews']">Business News</a>
    </li>
    <li class="page-item">
      <a class="page-link" routerLinkActive="active" [routerLink]="['entertainmentnews']">Entertainment</a>
    </li>

  </ul>
</nav>